<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div
            id="app"
            class="h-screen w-screen flex flex-col gap-8 justify-center items-center"
        >
            <section
                v-show="inProgressAssignments.length"
                class="flex flex-col gap-4"
            >
                <h3 class="font-bold text-3xl">Tasks</h3>
                <ul class="flex flex-col gap-2">
                    <li
                        v-for="assignment in inProgressAssignments"
                        :key="assignment.id"
                        class="bg-gray-700 px-4 py-2 flex gap-8 justify-between"
                    >
                        <p>{{ assignment.name }}</p>
                        <input
                            type="checkbox"
                            v-model="assignment.complete"
                            :checked="assignment.complete"
                        />
                    </li>
                </ul>
                <p>{{ assignments }}</p>
            </section>

            <section
                v-show="completedAssignments.length"
                class="flex flex-col gap-4"
            >
                <h3 class="font-bold text-3xl">Completed Tasks</h3>
                <ul class="flex flex-col gap-2">
                    <li
                        v-for="assignment in completedAssignments"
                        :key="assignment.id"
                        class="bg-gray-700 px-4 py-2 flex gap-8 justify-between"
                    >
                        <p>{{ assignment.name }}</p>
                        <input
                            type="checkbox"
                            v-model="assignment.complete"
                            :checked="assignment.complete"
                        />
                    </li>
                </ul>
                <p>{{ assignments }}</p>
            </section>
        </div>
        <script>
            let app = {
                data() {
                    return {
                        assignments: [
                            { id: 1, name: "Finish project", complete: false },
                            { id: 2, name: "Read Chapter 3", complete: false },
                            { id: 3, name: "Guguli Muguli", complete: true },
                        ],
                    };
                },

                computed: {
                    inProgressAssignments() {
                        return this.assignments.filter((a) => !a.complete);
                    },
                    completedAssignments() {
                        return this.assignments.filter((a) => a.complete);
                    },
                },
            };

            Vue.createApp(app).mount("#app");
        </script>
    </body>
</html>
